// English (United States) resources
LANGUAGE 9, 1 // LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_FILE                "ファイル"
    IDS_EDIT                "編集"
    IDS_VIEW                "表示"
    IDS_HELP                "ヘルプ"
    IDS_NEW_PROJECT         "新しいプロジェクト"
    IDS_OPEN                "開く"
    IDS_SAVE                "保存"
    IDS_EXPORT              "エクスポート"
    IDS_PROPERTIES          "プロパティ"
    IDS_NAME                "名前"
    IDS_DESCRIPTION         "説明"
    IDS_CATEGORY            "カテゴリ"
    IDS_STATUS              "状態"
    IDS_APPLY               "適用"
    IDS_CANCEL              "キャンセル"
    IDS_READY               "準備完了"
END
